.dark {
  .menu-style {
    background-color: rgba($color-white, 0.15) !important;
  }
}
.menu-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 2rem;
  width: 100%;
  position: absolute;
  top: 0;
  min-height: 5rem;
  // box-shadow: 0 0 12px rgba($color-secondary, 0.35);
  transition: 0.25s;
  background-color: rgba($color-primary-dark, 0.35);

  .menu-checkbox {
    input[type="checkbox"] {
      height: 0;
      width: 0;
      visibility: hidden;
    }
    label {
      cursor: pointer;
      text-indent: -9999px;
      width: 2rem;
      height: 1rem;
      background: $color-primary;
      display: block;
      border-radius: 1rem;
      border: 1px solid $color-secondary;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 0.05rem;
        left: 0.1rem;
        width: 0.8rem;
        height: 0.8rem;
        background: $color-white;
        border-radius: 0.8rem;
        transition: 0.3s;
      }
      &:active {
        &:after {
          width: 1.3rem;
        }
      }
    }
    input {
      &:checked {
        + {
          label {
            background: $color-secondary;
            &:after {
              left: calc(100% - 0.1rem);
              transform: translateX(-100%);
            }
          }
        }
      }
    }
    span {
      &.typewriter {
        font-family: $font-type;
        color: $color-primary-dark;
      }
      &.typewriter-dark {
        font-family: $font-type;
        color: $color-primary;
      }
      &.jb24 {
        font-family: $font-24;
        color: $color-secondary-dark;
      }
      &.jb24-dark {
        font-family: $font-24;
        color: $color-secondary;
      }
    }
  }
}

.menu-btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 3rem;
  cursor: pointer;
  z-index: 1;
}

.menu-btn-span {
  display: block;
  width: 100%;
  border-radius: 0.1rem;
  height: 0.3rem;
  background: $color-white;
  transition: all 0.2s;
  position: relative;
}
.typewriter {
  .menu-btn-span {
    background: $color-primary-dark !important;
  }
  &.dark {
    .menu-btn-span {
      background: $color-primary !important;
    }
  }
}
.jb24 {
  .menu-btn-span {
    background: $color-secondary-dark !important;
  }
  &.dark {
    .menu-btn-span {
      background: $color-secondary !important;
    }
  }
}

.menu-btn-span + .menu-btn-span {
  margin-top: 0.6rem;
}

.active .menu-btn-span:nth-child(1) {
  animation: ease 0.7s top forwards;
}

.not-active .menu-btn-span:nth-child(1) {
  animation: ease 0.7s top-2 forwards;
}

.active .menu-btn-span:nth-child(2) {
  animation: ease 0.7s scaled forwards;
}

.not-active .menu-btn-span:nth-child(2) {
  animation: ease 0.7s scaled-2 forwards;
}

.active .menu-btn-span:nth-child(3) {
  animation: ease 0.7s bottom forwards;
}

.not-active .menu-btn-span:nth-child(3) {
  animation: ease 0.7s bottom-2 forwards;
}

@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 0.9rem;
    transform: rotate(0);
  }
  100% {
    top: 0.9rem;
    transform: rotate(45deg);
  }
}

@keyframes top-2 {
  0% {
    top: 0.9rem;
    transform: rotate(45deg);
  }
  50% {
    top: 0.9rem;
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
  }
}

@keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 0.9rem;
    transform: rotate(0);
  }
  100% {
    bottom: 0.9rem;
    transform: rotate(135deg);
  }
}

@keyframes bottom-2 {
  0% {
    bottom: 0.9rem;
    transform: rotate(135deg);
  }
  50% {
    bottom: 0.9rem;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

@keyframes scaled {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
