.dark {
  .menu-style {
    background-color: rgba($color-white, 0.15) !important;
  }
}
.menu-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 2rem;
  width: 100%;
  position: absolute;
  top: 0;
  min-height: 5rem;
  transition: 0.25s;
  background-color: rgba($color-primary-dark, 0.35);

  .menu-checkbox {

    input[type="checkbox"] {
      height: 0;
      width: 0;
      visibility: hidden;
    }
    label {
      cursor: pointer;
      text-indent: -9999px;
      width: 20px;
      height: 10px;
      background: $color-primary;
      display: block;
      border-radius: 10px;
      border: 1px solid $color-secondary;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 8px;
        height: 8px;
        background: $color-white;
        border-radius: 8px;
        transition: 0.3s;
      }
      &:active {
        &:after {
          width: 12px;
        }
      }
    }
    input {
      &:checked {
        + {
          label {
            background: $color-secondary;
            &:after {
              left: calc(100%);
              transform: translateX(-100%);
            }
          }
        }
      }
    }
  }
}
.typewriter, .typewriter-dark {
  .menu-style {
    .menu-checkbox {
      span {
        font-size: 16px;
        line-height: 36px;
      }
    }
  }
}
.jb24, .jb24-dark {
  .menu-style {
    .menu-checkbox {
      span {
        font-size: 18px;
        line-height: 36px;
      }
    }
  }
}

.menu-btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 30px;
  cursor: pointer;
  z-index: 1;
}

.menu-btn-span {
  display: block;
  width: 100%;
  border-radius: 0.1rem;
  height: 3px;
  background: $color-white;
  transition: all 0.2s;
  position: relative;
}
.typewriter {
  .menu-btn-span {
    background: $color-primary-dark !important;
  }
  &.dark {
    .menu-btn-span {
      background: $color-primary !important;
    }
  }
}
.jb24 {
  .menu-btn-span {
    background: $color-secondary-dark !important;
  }
  &.dark {
    .menu-btn-span {
      background: $color-secondary !important;
    }
  }
}

.menu-btn-span + .menu-btn-span {
  margin-top: 6px;
}

.active .menu-btn-span:nth-child(1) {
  animation: ease 0.7s top forwards;
}

.not-active .menu-btn-span:nth-child(1) {
  animation: ease 0.7s top-2 forwards;
}

.active .menu-btn-span:nth-child(2) {
  animation: ease 0.7s scaled forwards;
}

.not-active .menu-btn-span:nth-child(2) {
  animation: ease 0.7s scaled-2 forwards;
}

.active .menu-btn-span:nth-child(3) {
  animation: ease 0.7s bottom forwards;
}

.not-active .menu-btn-span:nth-child(3) {
  animation: ease 0.7s bottom-2 forwards;
}

@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 9px;
    transform: rotate(0);
  }
  100% {
    top: 9px;
    transform: rotate(45deg);
  }
}

@keyframes top-2 {
  0% {
    top: 9px;
    transform: rotate(45deg);
  }
  50% {
    top: 9px;
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
  }
}

@keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 9px;
    transform: rotate(0);
  }
  100% {
    bottom: 9px;
    transform: rotate(135deg);
  }
}

@keyframes bottom-2 {
  0% {
    bottom: 9px;
    transform: rotate(135deg);
  }
  50% {
    bottom: 9px;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

@keyframes scaled {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
